.navbar {
	color:black;
}

.navbar-custom {
        background-color: #669147;
}

.nav-link a {
	color: black;
}

.navbar-brand img {
	float:right;
}

.background-image {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b2/Dark_Hedges_near_Armoy%2C_Co_Antrim_%28cropped%29.jpg");
	color: #2D33B3;
	background-size: cover;
	height: 600px;

}

.background-image h1 {
	color: #2D33B3;
	text-align: center;
	align: center;
	vertical-align: middle;
	font-family: 'UnifrakturCook', cursive;
	background-color: #94DE62;
	border: 5px solid #669147;
	font-size: 40px;
	width: 400px;
}

.content {
	display: flex;
	padding: 100px;
	font-family: 'Sedgwick Ave', cursive;
	background-color: #E0C4BA;
}

.content p {
	padding: 100px;
	font-size: 20px;
}

.content-image {
	height: 500px;
}

.footer {
	display: flex;
	background-color: #669147;
	position: fixed;
	bottom: 0;
	justify-content: space-between;
	width: 100%;
	color: black;
	text-decoration: none;

}

.footer .git-link {
	padding-left: 10px;
}

.footer .buy-link {
	padding-right: 10px;
}

a {
	color: #669147;
	text-decoration: none;
}
