* {
	* background-color: #E0C4BA;
}

.navbar-custom {
        background-color: #6A74EB;
}

.nav-link a {
	color: black;
}

.navbar-brand img {
	float:right;
}

.background-image {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b2/Dark_Hedges_near_Armoy%2C_Co_Antrim_%28cropped%29.jpg");
	color: #2D33B3;
	background-size: cover;
	height: 600px;

}

.background-image h1 {
	color: #2D33B3;
	text-align: center;
	float: center;
	padding: 200px;
	font-family: 'UnifrakturCook', cursive;
	background-color: #94DE62;
	border: 2px;
	border-color: #669147;
	width: 60%;
}

.content {
	display: flex;
	padding: 100px;
	font-family: 'Sedgwick Ave', cursive;
}

.content p {
	padding: 100px;
}

.footer {
	display: flex;
	background-color: #6A74EB;
	position: fixed;
	bottom: 0;
	justify-content: space-between;
}
